@keyframes img-effect-left {
  0% {background-color:transparent; right:0px; top:0px;}
  50% {background-color:transparent; right:53%; top:0px;}
  100% {background-color:transparent; right:0px; top:0px;}
}

@keyframes img-effect-right {
  0% {background-color:transparent; left:0px; top:0px;}
  50% {background-color:transparent; left:53%; top:0px;}
  100% {background-color:transparent; left:0px; top:0px;}
}


header {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 2px dashed @navigation-border;

  @media @mobile {
    .mobile-content();
  }

  img {
    margin-bottom: 20px;

    @media @mobile {
      width: 98%;
      margin: 0 1% 20px;
    }
  }
}

.home {
  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @mobile {
      .flex-column();
      .mobile-content();
    }

    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @mobile {
        .mobile-content();
        padding: 0;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;
       
      @media @mobile {
        .mobile-content();
        margin-bottom: 10px;
        animation-name: none;
      }

      img {
        border-radius: 10px;
      }
    }

    .img-right {
      &:hover {
        position: relative;
        animation-name: img-effect-left;
        animation-duration: 3s;
      }
    }
  }

    

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;

      @media @mobile {
        .mobile-content();
      }
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;

      @media @mobile {
        order: 1;
        .mobile-content();
        margin-bottom: 10px;
      }
    }
    
    .img-left {
      &:hover {
        position: relative;
        animation-name: img-effect-right;
        animation-duration: 3s;
      }
    }
    
  }

  .content-destination {
    width: 75%;
    margin: 0 auto;

    @media @mobile {
      .mobile-content();
    }

    img {
      border-radius: 10px;
      margin-bottom: 20px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @mobile {
      .flex-column();
      align-items: center;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media @mobile {
        width: 72%;
      }

      button {
        .fun-button();
        padding: 10px 0;
        border-radius: 15px;

        @media @mobile {
          width: 100%;
        }
      }
    }
  }
} // home
